<div class="centered-content">
  <div class="modal-box">
    <div class="modal-header">
      <h1 class="title">
        Criar nova tarefa
      </h1>
      <button routerLink="/" class="delete" style="bottom: 20px; left: 20px;"></button>
    </div>
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input #taskTitleInput class="input has-background-light is-medium" type="text"
          placeholder="Insira o nome da tarefa...">
      </p>
      <p class="control">
        <button class="button is-primary has-text-white is-medium" (click)="createTask(taskTitleInput.value)">
          Criar
        </button>
      </p>
    </div>
  </div>
</div>
