<div class="centered-content">
  <div class="modal-box">
    <div class="modal-header">
      <h1 class="title">
        Criar nova lista
      </h1>
      <button routerLink="/" class="delete" style="bottom: 20px; left: 20px;"></button>
    </div>

    <div class="field is-grouped">
      <p class="control is-expanded">
        <input #listTitleInput class="input has-background-light is-medium" type="text" placeholder="Insira o nome da lista...">
      </p>
      <p class="control">
        <button class="button is-primary has-text-white is-medium" (click)="createList(listTitleInput.value)">
          Criar
        </button>
      </p>
    </div>



  </div>
</div>
